<!DOCTYPE html>
<html lang = "en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Furry Finds Center</title>
    <link rel="stylesheet" href="css/styleQ7.css">
    <script src="script/time.js"></script>
</head>
<body>
    <%- include('header.ejs')%>
    <%- include('sidebar.ejs')%>
<div class = "content">
    <div class ="catcare" class="tabcontent"> 
        <section class = "ccare">
            <br><h2>General Cat Care: A Guide to Ensuring Your Cat's Happiness and Health!</h2><br>
        <fieldset id = "feedingCat"> 
        <legend class = "legend">Feeding</legend>
        Treat your kitty like royalty with ASPCA's feeding guidelines.
        <a href = "https://www.aspca.org/pet-care/cat-care/general-cat-care">
        <br> Visit ASPCA</a><br>
        </fieldset>
        <fieldset id = "groomingCat">
            <legend class = "legend"> Grooming </legend>
            A clean cat is a happy cat! Uncover the best grooming tips from Pumpkin.
            <a href = "https://www.pumpkin.care/blog/how-to-groom-a-cat/"> <br>Visit Pumpkin</a><br>
        </fieldset>
        <fieldset id ="litter">
            <legend class = "legend">Litter Box</legend>
            Keep the litter box pristine! ASPCA has the information on maintaining a clean and comfy litter space.
            <a href = "https://www.aspca.org/pet-care/cat-care/common-cat-behavior-issues/litter-box-problems"><br>Visit ASPCA</a><br>
            <br>
        </fieldset>
        <fieldset id ="playtime">
            <legend class = "legend">Playtime </legend>
            Keep your cat pouncing and purring! Purina shares the best playtime tips to keep your furry friend entertained and active.
            <a href = "https://www.purina.com/articles/cat/behavior/play/games-to-play-with-your-cat"><br>Visit Purina</a><br>
        </fieldset>       
        </section>
    </div>
</div>
<%- include('footer.ejs')%>
</body>
</html>

