<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Furry Finds Center</title>
        <link rel="stylesheet" href="css/styleQ7.css">
        <script src="script/time.js"></script>
    </head>
    <body>
    <%- include('header.ejs')%>
    <%- include('sidebar.ejs')%>
        <div class = "content">
            <section class="contact" class="tabcontent">
                <fieldset id="contactus">
                    <table class="contact">
                        <tr>
                            <td class="contact-header">
                                <div class="icon-text-wrapper">
                                    <a href="#contact" target="_blank">
                                        <img src="images/email.png" alt="Contact us" id="contacticon">
                                    </a>
                                    <h2 class="center-text">Contact Us</h2>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <p>Get in touch with our team and learn more about Furry Finds Center</p><br>
                    <p class="text"><b>Name: </b>Jana El Madhoun<br><b>ID: </b>40272201<br><b>Email: </b>j_elmadh@live.concordia.ca</p>
                </fieldset>
            </section>       
        </div>
    </div>
    <%- include('footer.ejs')%>
 </body>
</html>