<div class = "header">
        <a href = "/" class="logo"> 
            <img src =  "images/pawprint.png" alt = "Dog Silhouette" id = "dogpic">
        </a>
        <a href = "/" class="logo"> 
            <img src =  "images/pawprint.png" alt = "Dog Silhouette" id = "dogpic1">
        </a>
        <a href = "/" class="logo"> 
            <img src =  "images/pawprint.png" alt = "Dog Silhouette" id = "dogpic2">
        </a>
        <h1>Furry Finds Center</h1>
        <div id="datetime"></div>
    </div>
 