<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Furry Finds Center</title>
        <link rel="stylesheet" href="css/styleQ7.css">
        <script src="script/time.js"></script>
    </head>
    <body>
    <%- include('header.ejs')%>
    <%- include('sidebar.ejs')%>
    <div class = "content"> 
        <div class = "tabcontent">
            <div class="logout">
                <h2 >You have successfully logged out.</h1>
                <a href="/" id = "link">Return to Home</a><br>
                <a href="/login" id = "link">Login</a></p>

            </div>
        </div>
    </div>
</div>
<%- include('footer.ejs')%>
</body>
</html>