<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Furry Finds Center</title>
    <link rel="stylesheet" href="css/styleQ7.css">
    <script src="script/time.js"></script>
</head>
<body>
    <%- include('header.ejs')%>
    <%- include('sidebar.ejs')%>
<div class="content">
    <div class="privacy" class="tabcontent">
        <fieldset id = "privacysection">
        <legend class="legend">Furry Finds Center Privacy Disclaimer</legend><br>
        <p>
            At Furry Finds, we are committed to keeping your privacy safe. This Privacy Disclaimer outlines how we use and protect your personal information when you use our website and services.
        </p><br>
        <h4>How We Use Your Information</h4>
        <p>
            <b>1. To Provide Services:</b> We use your personal information to respond to your inquiries, process your requests, and provide you with information about our pet adoption services.<br>
            <br><b>2. Improve Our Services:</b> Non-personal information helps us understand how visitors use our website which allows us to improve user experience and our services.<br>
            <br><b>3. To Communicate:</b> We may use your contact information to send you pet-specific updates and other relevant information. You can opt out of these communications at any time.
        </p><br>
        <h4>Information Sharing Disclaimer</h4>
        <p>
            <b>Third-Party Services:</b> We do not sell, trade, or transfer your personal information to any outside parties.
        </p>  

        <br><br><p>By using our website, you consent to our Privacy Disclaimer.</p>
        </fieldset>      
    </div>
</div>
<%- include('footer.ejs')%>
</body>
</html>