<div class = "sidebar">
    <ul>
       <li><a href = "/home" class="tablink">Home</a></li>
       <li><a href = "/find" class="tablink">Find a Dog/Cat</a>
       <li><a href = "/dogcare" class="tablink">Dog Care</a></li>
       <li><a href = "/catcare" class="tablink">Cat Care</a></li>
       <li><a href = "/create" class = "tablink">Create an Account</a></li>
       <li><a href = "/give" class="tablink">Have a Pet to Give Away</a></li>
       <li><a href = "/contact" class="tablink">Contact Us</a></li>
       <li><a href = "/logout" class = "tablink">Logout</a></li>
   </ul>
</div>